<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @custumer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @custumer.email %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @custumer.birthday %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @custumer.obs %>
</p>

<%= link_to 'Edit', edit_custumer_path(@custumer) %> |
<%= link_to 'Back', custumers_path %>
